<div class="center jumbotron" style="background-image: url('/images/Your-Art-Collection.jpg');" >
  <h1 style="text-align: center">Welcome to <br /><%= APP_NAME %></h1>

  <h2 style="text-align: center">
    Share and enjoy your art collections. <br />Anywhere. Anytime. With anyone.
  </h2>

  <center>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-fill btn-lg btn-default" %>
  <%= link_to "Sign in", login_path, class: "btn btn-fill btn-lg btn-success" %>
  </center>

</div>

