<h2>My Collections</h2>


<div class="row">

    <div class="table-responsivexx">
      <table class="table table-shopping">
        <tbody>
        <tr>
          <td>
            <div class="img-container">
              <img src="assets/img/tables/agenda.png" alt="Agenda">
            </div>
          </td>
          <td class="td-product">
            <strong>Get Shit Done Notebook</strong>
            <p>
              Most beautiful agenda for the office, really nice paper and black cover. Most beautiful agenda for the office.</p>
          </td>

          <td>
            <span class="label label-default shipping">Lebo</span>
            <span class="label label-default shipping">Acrylic on Canvas</span>
            <span class="label label-default shipping">Marcus Glen</span>
            <span class="label label-default shipping">Acrylic</span>
            <span class="label label-default shipping">Lebo</span>
            <span class="label label-default shipping">Acrylic on Canvas</span>
            <span class="label label-default shipping">Marcus Glen</span>
            <span class="label label-default shipping">Acrylic</span>
          </td>

        </tr>


        <tr>
          <td>
            <div class="img-container">
              <img src="assets/img/tables/agenda.png" alt="Agenda">
            </div>
          </td>
          <td class="td-product">
            <strong>Get Shit Done Notebook</strong>
            <p>
              Most beautiful agenda for the office, really nice paper and black cover. Most beautiful agenda for the office.</p>
          </td>

          <td>
            <span class="label label-default shipping">Lebo</span>
            <span class="label label-default shipping">Acrylic on Canvas</span>
            <span class="label label-default shipping">Marcus Glen</span>
            <span class="label label-default shipping">Acrylic</span>
            <span class="label label-default shipping">Lebo</span>
            <span class="label label-default shipping">Acrylic on Canvas</span>
            <span class="label label-default shipping">Marcus Glen</span>
            <span class="label label-default shipping">Acrylic</span>
          </td>

        </tr>

        <tr class="tr-actions">
          <td colspan="3" class="text-right">
            <button type="button" class="btn btn-danger btn-fill btn-lg"><i class="fa fa-plus"></i>Start a new collection</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>









<h2>A Gallery</h2>

        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        
            <!-- Background of PhotoSwipe. 
                 It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>
        
            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">
        
                <!-- Container that holds slides. 
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
        
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
        
                    <div class="pswp__top-bar">
        
                        <!--  Controls are self-explanatory. Order can be changed. -->
        
                        <div class="pswp__counter"></div>
        
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        
                        <button class="pswp__button pswp__button--share" title="Share"></button>
        
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        
                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div> 
                    </div>
        
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
        
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
        
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
        
                </div>
        
            </div>
        
        </div>        

        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <div class="row">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-5 col-sm-6 gallery-item">
                    <a href="/images/sample1.jpg" itemprop="contentUrl" data-size="1536x2048">
                        <img src="/images/sample1.jpg" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive" />
                    </a>
                    <figcaption itemprop="caption description" class="gallery-caption">Dolce & Gabbana</figcaption>
                </figure>
        
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-5 col-sm-6 gallery-item">
                    <a href="/images/sample2.jpg" itemprop="contentUrl" data-size="1536x2048">
                        <img src="/images/sample2.jpg" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive" />
                    </a>
                    <figcaption itemprop="caption description" class="gallery-caption">Ellie Saab</figcaption>					
                </figure>                    
				
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-5 col-sm-6 gallery-item">
                    <a href="/images/sample3.jpg" itemprop="contentUrl" data-size="1536x2048">
                        <img src="/images/sample3.jpg" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive" />
                    </a>
                    <figcaption itemprop="caption description" class="gallery-caption">Ellie Saab</figcaption>
                </figure>                    

                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-5 col-sm-6 gallery-item">
                    <a href="/images/sample4.jpg" itemprop="contentUrl" data-size="1536x2048">
                        <img src="/images/sample4.jpg" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive" />
                    </a>
                    <figcaption itemprop="caption description" class="gallery-caption">Ellie Saab</figcaption>
                </figure>                    

                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-5 col-sm-6 gallery-item">
                    <a href="/images/sample5.jpg" itemprop="contentUrl" data-size="1536x2048">
                        <img src="/images/sample5.jpg" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive" />
                    </a>
                    <figcaption itemprop="caption description" class="gallery-caption">Ellie Saab</figcaption>
                </figure>                    

            </div>
        </div>    
		<!-- photoswipe javasscript files -->
		<script src="/js/photo_swipe/photoswipe.min.js"></script> 
		<script src="/js/photo_swipe/photoswipe-ui-default.min.js"></script>
		<script src="/js/photo_swipe/init-gallery.js"></script>
		
		
		<hr>
		

<hr>

<h2>Exmaple of a "Details" page</h2>
<div class="row">
                        <div class="col-md-7 col-sm-6">

                            <div>
								<img src="/images/sample4.jpg" alt="Rounded Image">
                            </div> 

                        </div>
                        <div class="col-md-5 col-sm-6">
							<h2>Flower Blaze</h2>
							<hr />
							<p>This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.</p>
							<span class="label label-default shipping">Lebo</span>
							<span class="label label-default shipping">Acrylic on Canvas</span>

                            <hr />
                        </div>
                    </div>
					